.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(194, 24, 91);
    max-width: 300px;
    margin: auto;
    text-align: center;
    transition: transform 1s;
    border-radius: 25px;
}

.card:hover {
    transform: scale(1.5);
}