<head>
    <title>O nama</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<Body>
    <div class="row no-gutters">
        <div class="col-md-6 no-gutters">
            <div class="leftside d-flex justify-content-center align-items-center zoom">
                <img src="../../../../assets/uns.png" class="rounded-circle">
            </div>
        </div>
        <div class="col-md-6 no-gutters">
            <div class="rightside d-flex justify-content-center align-items-center tekst">
                <div class="row no-gutters">
                    <h1> O nama</h1>
                    <p>Univerzitet u Novom Sadu je sa oko 50.000 studenata i 5.000 zaposlenih jedno od najvećih naučnih i obrazovnih središta u Centralnoj Evropi. Spada u red takozvanih kompletnih ili sveobuhvatnih univerziteta, koji su karakteristični po
                        tome što pokrivaju skoro sve oblasti nauke i visokog obrazovanja. U okviru Univerziteta realizuje se 350 akreditovanih studijskih programa na nivou osnovnih, master, specijalističkih i doktorskih studija, čiji su nosioci fakulteti
                        i Univerzitetski centar za interdisciplinarne i multidisciplinarne studije i istraživanja (UCIMSI). Studijski programi su savremeni i prate razvoj nauke. Značajnu ulogu u stvaranju naučne podloge za njihovo permanentno osavremenjavanje,
                        osim fakulteta i UCIMSI-ja, imaju i tri naučna instituta.</p>
                </div>
            </div>
        </div>
    </div>
</Body>